# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/private/*
.nb-gradle
.gradle

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

credentials.properties
